<app-janela titulo="Nota fiscal" icone="fa-pencil" (toggleJanela)="toggleJanela()">
  <div #notaFiscal class="container">
    <h1>Clinina</h1>
    <p>Rua Natal, 1116, Henrique Jorge, Fortaleza-CE</p>
    <p>Venda: {{notaFiscalDados.id}}</p>
    <hr>
    <table>
      <tr class="cabecalho-tabela">
        <th>Item</th>
        <th class="nome__tabela">Descrição</th>
        <th>Qtd</th>
        <th>Valor Un.</th>
        <th>Desc.</th>
        <th>Total</th>
      </tr>
      <tr class="tablerow" *ngFor="let item of notaFiscalDados.listaDeProdutos; index as i">
        <td>{{i+1}}</td>
        <td>{{item.produto}}</td>
        <td>{{item.quantidade}} un</td>
        <td>{{item.preco}}</td>
        <td>{{item.desconto > 0 ? item.desconto : 0}}</td>
        <td>{{item.quantidade * item.preco}}</td>
      </tr>
    </table>
    <hr>
    <div class="detalhes">
      <div class="space-between"><p>QTD ITENS</p><p>{{notaFiscalDados.listaDeProdutos.length}}</p></div>
      <div class="space-between"><p>DESCONTO</p><p>{{getDescontoTotal()}}</p></div>
      <div class="space-between"><p>VALOR TOTAL</p><p>{{getValorTotal()}}</p></div>
      <div class="space-between"><p>FORMA DE PAGAMENTO</p><p>{{notaFiscalDados.formaPagamento}}</p></div>
      <div class="space-between"><p>TROCO</p><p>-</p></div>
    </div>
    <hr>
    <div class="space-between">
      <p>CONSUMIDOR:</p>
      <p>{{notaFiscalDados.cliente.nome}}</p>
      <p>{{notaFiscalDados.cliente.telefone}}</p>
    </div>
    <div class="acoes">
      <app-botao-pequeno class="btn" cor="var(--corVerde)" icone="fa-check" texto="Imprimir" (click)="imprimirNotaFiscal()"></app-botao-pequeno>
      <app-botao-pequeno class="btn" cor="var(--corVerde)" icone="fa-check" texto="Fechar" (click)="toggleJanela()"></app-botao-pequeno>
    </div>
  </div>
</app-janela>
