.width {
  width: 100%;
}

.ponto-de-venda {
  /* width: 76.14%; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  position: relative;
}

.menu fa-icon {
  font-size: 33px;
  color: var(--corPrincipal);
}
.logo {
  display: flex;
  justify-content: center;
}
.un-qtd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.un-qtd fa-icon {
  color: var(--corTexto);
  font-size: 15px;
}

.acoes {
  display: flex;
  justify-content: space-between;
}

.vermelho {
  background-color: var(--corVermelho);
}
.verde {
  background-color: var(--corVerde);
}
.venda-principal {
  padding-top: 20px;
  width: 72.12%;
}
.titulo {
  color: var(--corPrincipal);
  text-align: center;
  font-size: 30px;
  width: 100%;
}
.procurar-produto {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
}

.cod-img-sub {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.detalhes {
  /*width: 27.88%;*/
  min-width: 250px;
}
.tabela {
  height: 100%;
  width: 100%;
  border: 1px solid var(--corPrincipal);
}

.desconto-total {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
}
.desconto-total app-info {
  width: 120px;
}
.esconder {
 display: none !important;
}
.mostrar {
  display: block !important;
}
.w {
  text-align: center;
  padding-top: 10px;
}
.w img {
  max-height: 300px;
}
.spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

