.notebook {
  width: 1366px;
  height: 636px;
  display: flex;
  align-items: center;
}
.menu-container {
  width: 23.86%;
  height: 100%;
  border: 1px solid red;
}
.ponto-de-venda {
  width: 76.14%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.menu fa-icon {
  font-size: 33px;
  color: var(--corPrincipal);
}
.logo {
  display: flex;
  justify-content: center;
}
.info {
  border: 1px solid var(--corPrincipal);
  height: 40px;
  width: 100%;
}
.info .texto{
  height: 17px;
  font-weight: normal;
  color: var(--corBranco);
  font-size: var(--fontePequena);
  background-color: var(--corPrincipal);
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.info .valor{
  color: var(--corTexto);
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-size: var(--fonteNormal);
}
.un-qtd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.un-qtd fa-icon {
  color: var(--corTexto);
  font-size: 15px;
}
.img-container {
  height: 217px;
  border: 1px solid var(--corPrincipal);
}
.img-container img {
  display: block;
  margin: 0 auto;
  height: 100%;
}
.acoes {
  display: flex;
  justify-content: space-between;
}
.btn {
  /*width: 115px;*/
  min-width: 115px;
  width: fit-content;
  height: 40px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--corBranco);
  font-size: var(--fonteMuitoPequena);
  font-weight: bold;
  background-color: var(--corPrincipal);
}
.btn fa-icon {
  font-size: 20px;
}
.vermelho {
  background-color: var(--corVermelho);
}
.verde {
  background-color: var(--corVerde);
}
.venda-principal {
  padding-top: 20px;
  width: 72.12%;
}
.titulo {
  color: var(--corPrincipal);
  text-align: center;
  font-size: 30px;
  width: 100%;
}
.procurar-produto {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
}
.campo-de-pesquisa {
  border: 1px solid var(--corPrincipal);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 10px;
  border-radius: 7px;
}
.campo-de-pesquisa fa-icon{
  font-size: 20px;
  color: var(--corPrincipal);
}
.campo-de-pesquisa input {
  height: 40px;
  width: 95%;
  font-size: var(--fonteNormal);
  padding-left: 5px;
  border: none;
  color: var(--corTexto);
}
.campo-de-pesquisa input:focus {
  
  outline: none;
}
.cod-img-sub {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.detalhes {
  /*width: 27.88%;*/
  min-width: 250px;
}
.tabela {
  height: 100%;
  width: 100%;
  border: 1px solid var(--corPrincipal);
}
table {
  width: 100%;
  border-collapse: collapse;
}
.cabecalho-tabela {
  background-color: var(--corPrincipal);
  color: var(--corBranco);
  font-size: var(--fontePequena);
  height: 17px;
}

th, td, tr {
  text-align: start;
  border: none;
  border-collapse: collapse;
  padding-left: 10px;
}
tr {
  border-bottom: 1px solid var(--corPrincipal);
  height: fit-content;
  font-size: var(--fonteNormal);
  color: var(--corTexto);
}
td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.table__img {
  width: 25px;
  height: 25px;
}
.nome__tabela {
  width: 50%;
}
tr fa-icon {
  font-size: 14px;
}
.apagar {
  color: var(--corVermelho);
}
.editar {
  color: var(--corVerde);
  padding-right: 10px;
}
.desconto-total {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
}
.desconto-total .info {
  width: 120px;
}





.mainru {
  display: flex;
  flex-direction: column;
  align-items: center;
 justify-content: center;
  border-radius: 2px;
  height: 763px;
  background: var(--cor-de-fundo-da-pagina);
}

h1, h3 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.barra-de-pesquisa{
  margin-right: 10px;
  border-radius: 7px;
  border: 0 none;
  color: black;
  height: 40px;
  font-size: 20px;
}

.Caixa-aberto {
  color: blue;
  background: var(--cor-de-fundo-da-pagina);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  width: 1150px;
  height: 70px;
  font-size: 30px;
}

.Caixa-enorme {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  height: 650px;
  gap: 10px;
}

.Caixa-da-Esquerda {
  display: flex;
  flex-direction: column;

  border-radius: 2px;
  width: 566px;
  height: 645px;
}

.Caixa-do-row-da-esquerda {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 427px;

  gap: 10px;
}

.Caixa-da-img {

  height: 330px;

}
.Caixa-da-img img {
  height: 330px;
  width: 330px;
}

.Caixa-dos-3-negocios-da-direita-na-equerda {
  display: flex;
  flex-direction: column;
  width: 57%;
  height: 78%;
  gap: 10px;
  margin-bottom: 50px;
}

.primeira-caixa {

margin-top: 35px;
margin-bottom: 35px;
}

.segunda-caixa {
margin-top: 35px;
margin-bottom: 35px;
}

.terceira-caixa {
  margin-top: 35px;
margin-bottom: 35px;
}


.Caixa-da-Direita {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  width: 750px;
  height: 645px;
}



.Caixa-da-table {
  min-height: 400px;
  background: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
}

.coluna-item {
  width: 50px;
}



.Caixa-da-parada-azul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  color: white;
  background: rgb(0, 63, 106);
  height: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 17px;
}

.Caixa-do-valor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  color: rgb(0, 63, 106);
  background: white;
  height: fit-content;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 20px;
}

.Caixa-pra-os-2-negocios-da-direita {
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
  height: 45px;
  gap: 10px;
}

.Caixa-de-baixo-da-esquerda {
  width: 50%;

}

.Caixa-de-baixo-da-direita {
  width: 50%;
}

.botao {
  width: fit-content;
  border: 2px solid gray;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 7px;
}

.vender {
  background-color: rgb(54, 192, 54);
  color: white;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.vender:hover {
  background-color: rgb(45, 131, 45);
}

.cadastro {
  background-color: rgb(205, 238, 16);
  color: black;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.cadastro:hover {
  background-color: rgb(194, 149, 25);
}

.cadastrar-codigo {
  display: flex;
  gap: 30px;
}

.modo-cadastrar {
  background-color: green;
}
.recarregar {
  background-color: white;
  cursor: pointer;
}
.botoes-flex {
  display: flex;
  justify-content: center;
  gap: 300px;
}
.imagem-menos {
  width: 20px;
  cursor: pointer;
}

.fundo-cinza {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: none; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-peso,
.modal-forma-de-pagamento {
  position: absolute;
  width: 500px;
  background-color: #c0c0c0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  top: 10%;
  left: 35%;
}

.modal-peso__titulo,
.modal-forma-de-pagamento__titulo {
  background-color: rgb(0, 63, 106);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  font-size: 25px;
  color: #eeeeee;
}

.modal-peso__titulo img,
.modal-forma-de-pagamento__titulo img {
  width: 30px;
  cursor: pointer;
}

.modal-peso h2 {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}

.modal-peso__input {
  display: flex;
  justify-content: center;
  font-size: 20px;
  gap: 30px;
}

.peso-input {
  display: flex;
  gap: 10px;
}

.input-text {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
}

.modal-peso__valor {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
  gap: 38%;
  font-size: 20px;
  font-weight: bold;
}

.modal-peso__valor__botao {
  background-color: rgb(57, 175, 57);
  padding: 10px 10px;
  border-radius: 10px;
  transition: 0.3s all;
  cursor: pointer;
}

.modal-peso__valor__botao:hover {
  background-color: rgb(120, 197, 57);
}

.formulario__forma-de-pagamento {
  font-size: 17px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.teste {
  width: 80px;
  display: inline-block;
}

.cadastro-fiado {
  margin-top: 20px;
}

.input {
  height: 30px;
  font-size: 17px;
  padding-left: 10px;
  width: 95%;
}
