<div class="lancamento-componente__container">
    <div class="flex">
      <div class="menu">
        <fa-icon [icon]="getIcone('fa-bars')"></fa-icon>
      </div>
      <h1 class="titulo">LANÇAMENTOS</h1>
    </div>
    <hr>
    <div class="lancamento-container">

        <form [formGroup]="formulario" class="formulario-container">
            <app-select2 [lista]="listaPeriodoVisualizacao" for="periodo" label="Período de visualização:" [negrito]="true" formControlName="periodo" (change)="pesquisarPorData()"></app-select2>
            <app-input type="date" for="dataInicio" label="Data de Início" placeholder="01/08/2024" [negrito]="true" formControlName="dataInicio" (change)="getLancamentos()"></app-input>
            <app-input type="date" for="dataFim" label="Data fim" placeholder="31/08/2024" [negrito]="true" formControlName="dataFim" (change)="getLancamentos()"></app-input>
        </form>

        

        <div class="pagar-receber-container">
            <div class="card">
                <div>
                    <div class="space-between">
                        <div class="img-stats">
                            <fa-icon class="verde" [icon]="getIcone('fa-arrow-right')"></fa-icon>
                            <p class="verde">A receber</p>
                        </div>

                        <small class="cinza">Atualizado em {{paginaLancamentos.atualizadoEm | date:'dd/MM/yyyy':'UTC':'pt-BR'}}</small>
                    </div>
                    <p class="valor-card margin-top">{{paginaLancamentos.aReceber  | currency:'R$ ':'symbol':'1.2-2'}}</p>
                    <div class="space-between">
                        <p>Receitas do período:</p>
                        <p>{{paginaLancamentos.totalReceitasPeriodo  | currency:'R$ ':'symbol':'1.2-2'}}</p>
                    </div>
                </div>
                <app-botao-pequeno class="btn-card" cor="var(--corVerde)" texto="Adicionar receita" (click)="adicionarLancamento('receita')"></app-botao-pequeno>
            </div>
            <div class="card">
                <div>
                    <div class="space-between">
                        <div class="img-stats">
                            <fa-icon class="vermelho" [icon]="getIcone('fa-arrow-left')"></fa-icon>
                            <p class="vermelho">A pagar</p>
                        </div>

                        <small class="cinza">Atualizado em {{paginaLancamentos.atualizadoEm | date:'dd/MM/yyyy':'UTC':'pt-BR'}}</small>
                    </div>
                    <p class="valor-card margin-top">{{paginaLancamentos.aPagar | currency:'R$ ':'symbol':'1.2-2'}}</p>
                    <div class="space-between">
                        <p>Despesas do período:</p>
                        <p>{{paginaLancamentos.totalDespesasPeriodo| currency:'R$ ':'symbol':'1.2-2'}}</p>
                    </div>
                </div>
                <app-botao-pequeno class="btn-card" cor="var(--corVermelho)" texto="Adicionar despesa" (click)="adicionarLancamento('despesa')"></app-botao-pequeno>
            </div>
            <div class="card">
                <div class="space-between">
                    <p>Projeção de saldo</p>
                    <small class="cinza">Atualizado em {{paginaLancamentos.atualizadoEm | date:'dd/MM/yyyy':'UTC':'pt-BR'}}</small>
                </div>
                <div class="saldos">
                    <p class="valor-card">{{paginaLancamentos.projecaoSaldo | currency:'R$ ':'symbol':'1.2-2' }}</p>
                    <hr>
                    <div class="space-between">
                        <p class="cinza">Saldo anterior</p>
                        <p class="cinza">{{paginaLancamentos.saldoAnterior | currency:'R$ ':'symbol':'1.2-2' }}</p>
                    </div>
                    <hr>
                    <div class="space-between">
                        <p>Saldo atual</p>
                        <p>{{paginaLancamentos.saldoAtual | currency:'R$ ':'symbol':'1.2-2' }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabelas-container">
            <div class="tabela-lancamentos">
                <div class="space-between">
                    <h5 class="valor-card">Lançamentos</h5>
                    <div class="btn-tabela-container">
                        <app-botao-pequeno class="btn-card" texto="Filtros" icone="fa-filter"></app-botao-pequeno>
                        <app-botao-pequeno class="btn-card" texto="Adicionar lançamentos" icone="fa-plus" (click)="adicionarLancamento('')"></app-botao-pequeno>
                    </div>
                </div>
                <hr>
                <div class="lancamentos" *ngFor="let lanc of paginaLancamentos.listaLancamentos; index as i">
                    <small class="cinza">{{ lanc.data | date:'dd MMMM yyyy':'UTC':'pt-BR' }}</small>
                    <div class="linha-vertical"></div>

                    <div class="flex-column" *ngFor="let lancamento of lanc.lancamentos; index as j">
                        <div class="space-between selecionar" (click)="selecionarLancamento(i,j)">
                            <div class="detalhes">
                                <div class="img-lancamento">
                                    <fa-icon [ngClass]="statusCores(lancamento.tipoReceita)" [icon]="iconeStatus(lancamento.tipoReceita)"></fa-icon>
                                </div>
                                <div class="nome-detalhes">
                                    <p>{{lancamento.descricao}}</p>
                                    <p class="cinza">{{lancamento.categoriaNome}}</p>
                                </div>
                                <div class="status-flex">
                                    <div class="img-status" [ngStyle]="{'background-color': cor(lancamento.status)}">
                                        <fa-icon [icon]="getIcone('fa-pen-to-square')"></fa-icon>
                                    </div>
                                    <small [ngClass]="statusCores(lancamento.status)">{{lancamento.status}}</small>
                                </div>
                            </div>
                            <p [ngClass]="statusCores(lancamento.tipoReceita)"><span *ngIf="lancamento.tipoReceita == 'despesa'">-</span>{{lancamento.valor | currency:'R$ ':'symbol':'1.2-2' }}</p>
                        </div>
                        <div *ngIf="((lanc.lancamentos.length - 1) != j)" class="linha-vertical"></div>
                    </div>

                    <hr class="hr">
                </div>
                <div class="lancamento-btn-container">
                    <app-botao-pequeno class="btn-card" texto="Mais lançamentos"></app-botao-pequeno>
                </div>
            </div>
            <div class="tabela-categoria">
                <h5 class="valor-card">Por categoria</h5>
                <hr>
                <div>
                    <div class="categoria-acoes">
                        <div [ngClass]="categoriaSelecionada == 'receitas'? 'acao-selecionada':''" class="acao" (click)="clickarCategoria('receitas')">Receitas</div>
                        <div [ngClass]="categoriaSelecionada == 'despesas'? 'acao-selecionada':''" class="acao" (click)="clickarCategoria('despesas')">Despesas</div>
                    </div>
                    <hr>
                </div>
                <div class="graficos-container">
                    <div *ngIf="categoriaSelecionada == 'receitas'">
                        <div class="linha-grafico" *ngFor="let categoria of paginaLancamentos.listasPorcentagemCategorias.receitas">
                            <div class="label-grafico">
                                <small>{{categoria.categoria}}</small>
                                <div class="grafico-maior-cinza">
                                    <div [ngStyle]="{width: categoria.porcentagem + '%'}" class="grafico-menor-verde"></div>
                                </div>
                            </div>
                            <small>{{categoria.porcentagem}}%</small>
                        </div>
                    </div>
                    <div *ngIf="categoriaSelecionada == 'despesas'">
                        <div class="linha-grafico" *ngFor="let categoria of paginaLancamentos.listasPorcentagemCategorias.despesas">
                            <div class="label-grafico">
                                <small>{{categoria.categoria}}</small>
                                <div class="grafico-maior-cinza">
                                    <div [ngStyle]="{width: categoria.porcentagem + '%'}" class="grafico-menor-verde"></div>
                                </div>
                            </div>
                            <small>{{categoria.porcentagem | number: '1.0-0'}}%</small>
                        </div>
                    </div>
                </div>
                <p class="gerenciar">Gerenciar categorias</p>
            </div>
        </div>

    </div>
    <div *ngIf="loadingSpinner" class="spinner">
      <mat-spinner></mat-spinner>
    </div>
    <app-adicionar-lancamento *ngIf="janelaAddLancamento" (atualizarLancamentos)="getLancamentos()" (visivel)="toggleAddLancamento()" [tipoLancamento]="lancamentoSelecionado" [id]= "id"></app-adicionar-lancamento>
</div>
