<div class="relatorio__container" id="conteudoParaImprimir">
  <div class="flex">
    <div class="menu">
      <fa-icon [icon]="getIcone('fa-bars')"></fa-icon>
    </div>
    <h1 class="titulo">RELATÓRIO DE VENDAS</h1>
  </div>
  <hr>
  <div class="data">
    <form [formGroup]="formulario">
      <mat-form-field>
        <mat-label>Selecione a data</mat-label>
        <mat-date-range-input [rangePicker]="picker" disabled>
          <input matStartDate placeholder="Start date" formControlName="start">
          <input matEndDate placeholder="End date" formControlName="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
      </mat-form-field>
    </form>
    <app-botao-pequeno icone="fa-circle-check" texto="Pesquisar" cor="var(--corVerde)" (click)="pesquisar()"></app-botao-pequeno>
  </div>

  <h2 class="titulo-data">{{ mostrarData() }}</h2>

  <div class="table__container">
    <table>
        <tr class="cabecalho-tabela">
          <th>Foto</th>
          <th class="nome__tabela">Nome do produto</th>
          <th>Qtd</th>
          <th>Valor Un.</th>
          <th>Desc.</th>
          <th>Total</th>
          <th>Horário</th>
          <th>Forma de pagamento</th>
        </tr>
      <tr class="tablerow" *ngFor="let item of listaDeItensVendidos; index as i">
        <td><img class="table__img" src="{{ item.imagemP }}" alt="Imagem do produto" (error)="handleImageError($event)"></td>
        <td>{{ item.produto }} <span *ngIf="verificarSeFoiFracionado(item.peso)"> ({{ item.peso }})</span></td>
        <td>{{ item.quantidade }}</td>
        <td>{{ item.precoUnitario | currency:'R$ ':'symbol':'1.2-2' }}</td>
        <td>{{ item.desconto ? item.desconto : "-" }}</td>
        <td>{{ calcularParcial(item) | currency:'R$ ':'symbol':'1.2-2' }}</td>
        <td>{{ item.data | date:'HH:mm'  }}</td>
        <td>{{ item.pagamento }}</td>
      </tr>
    </table>
  </div>
  <div class="total">
    <app-info titulo="Total" valor="{{ total | currency:'R$ ':'symbol':'1.2-2' }}"></app-info>
  </div>

  <div *ngIf="loadingSpinner" class="spinner">
    <mat-spinner></mat-spinner>
  </div>

  <!--<button (click)="imprimirConteudo()">Imprimir Conteúdo</button>-->

</div>
