<app-janela titulo="Editar" icone="fa-pencil" (toggleJanela)="toggleJanela()">
    <div class="container">
        <div class="imagem-container">
            <img src="{{ imagemDoProduto() }}" alt="">
        </div>
        <div class="informacoes-container">
            <!--<span>{{ produto.produto }}</span>-->
            <span>{{ nomeDoProduto() }}</span>
            <form [formGroup]="formulario" class="inputs-container">
                <app-input class="grow wd" label="Quantidade:" type="number" placeholder="" for="quantidade" formControlName="quantidade"></app-input>
                <app-input class="grow wd" label="Desc. (R$):" type="number" placeholder="" for="desconto" formControlName="desconto"></app-input>
                <app-info class="grow info wd h" titulo="P. Venda" valor="{{ precoVenda | currency:'R$ ':'symbol':'1.2-2'  }}"></app-info>
            </form>
            <div class="infos-container">
                <!--<app-info class="grow info" titulo="P.Compra" valor="R$ {{ produto.precoCompra }}"></app-info>-->
                <app-info class="grow info" titulo="P.Compra" valor="R$ {{ precoDeCompraProduto() }}"></app-info>
                <app-info class="grow info" titulo="Lucro" valor="{{ lucroPorCento }}%"></app-info>
                <app-info class="grow info" titulo="Lucro R$" valor="R$ {{ lucroReais }}"></app-info>
            </div>
        </div>
    </div>
    <div class="botao-container">
        <app-botao-pequeno icone="fa-circle-xmark" cor="var(--corVermelho)" texto="Cancelar" (click)="cancelar()"></app-botao-pequeno>
        <app-botao-pequeno icone="fa-circle-check" cor="var(--corVerde)" texto="Aplicar" (click)="aplicar()"></app-botao-pequeno>
    </div>
</app-janela>