<div class="cadastro__container">
    <div class="flex">
      <div class="menu">
        <fa-icon [icon]="getIcone('fa-bars')"></fa-icon>
      </div>
      <h1 class="titulo">ESTOQUE</h1>
    </div>
    <hr>
    <div class="container">
        <div class="pesquisa__container">
            <div class="label-input grow">
                <span>Buscar produto</span>
                <app-input-simples placeholder="Digite o nome do produto ou código de barras" (texto)="pesquisar($event)"></app-input-simples>
            </div>
            <app-botao-grande icone="fa-magnifying-glass" texto="Pesquisar" cor="var(--corPrincipal)"></app-botao-grande>
            <app-botao-grande icone="fa-plus" texto="Novo Produto" cor="var(--corPrincipal)" (click)="cadastrarProduto()"></app-botao-grande>
        </div>
        <hr>
        <div class="filtros__container">
            <!--Criar itens por páginas-->
        </div>
        <div class="table__container">
            <table *ngIf="loadingSpinner == false; else loading">
                <tr class="cabecalho-tabela">
                  <th>Foto</th>
                  <th>Código</th>
                  <th class="nome__tabela">Nome do produto</th>
                  <th>Estoque</th>
                  <th>P.custo</th>
                  <th>P.venda</th>
                  <th>Lucro</th>
                  <th>Peso</th>
                  <th>Ações</th>
                </tr>
              <tr class="tablerow" *ngFor="let item of listaDeProdutos; index as i"> 
                <td><img class="table__img" src="{{ item.imagemP }}" alt="Imagem do produto"></td>
                <td>{{ item.codigoDeBarras }}</td>
                <td>{{ item.produto }}</td>
                <td>{{ item.estoque }}</td>
                <td>{{ item.precoCompra | currency:'R$ ':'symbol':'1.2-2' }}</td>
                <td>{{ item.preco | currency:'R$ ':'symbol':'1.2-2' }}</td>
                <td>{{ calcularLucro(item) }}</td>
                <td>{{ item.peso }}</td>
                <td>
                    <!-- <app-botao-pequeno texto="Detalhe" cor="var(--corPrincipal)"></app-botao-pequeno> -->
                    <fa-icon class="editar" [icon]="getIcone('fa-pencil')" (click)="editarItem(i)"></fa-icon>
                </td>
              </tr>
            </table>
        </div>
    </div>
    <ng-template #loading>
      <div class="loading">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
    <!-- <app-feedback texto="Imported coin succesfully."></app-feedback> -->
    <!-- fim snack-bar -->
</div>