<div class="notebook">
    <div class="menu-container">
      <!--<img class="img-logo" src="../../../assets/img/menu.png" alt="Menu">-->
      <div class="menu-oculto">
        <a routerLink="/venda"><img src="../../../assets/img/menu-logo.png" alt="Menu logo"></a>
        <hr>
        <!-- <app-menu-opcao texto="Dashboard" icone="fa-floppy-disk"></app-menu-opcao> -->
        <app-menu-opcao componente="venda" texto="Ponto de Venda" icone="fa-floppy-disk"></app-menu-opcao>
        <app-menu-opcao componente="estoque" texto="Estoque" icone="fa-rectangle-list"></app-menu-opcao>
        <app-menu-opcao componente="relatorio" texto="Relatório de vendas" icone="fa-chart-line"></app-menu-opcao>
        <app-menu-opcao componente="mensagens" texto="Mensagens" icone="fa-envelope"></app-menu-opcao>
        <app-menu-opcao componente="fiado" texto="Lista de fiados" icone="fa-hand-holding-dollar"></app-menu-opcao>
        <!-- <hr>
        <app-menu-opcao texto="Banho e tosa" icone="fa-dog"></app-menu-opcao>
        <app-menu-opcao texto="Consultas" icone="fa-stethoscope"></app-menu-opcao>
        <hr>-->
        <app-menu-opcao texto="Auditoria" icone="fa-circle-info" (click)="teste()"></app-menu-opcao> 
      </div>
    </div>
    <ng-component class="w"></ng-component>
</div>