<ng-container>
    <div class="select grow">
        <!-- <label for="{{ for }}">{{ label }}</label> -->
        <div>
          <label [ngClass]="{'bold-label': negrito}" for="{{ for }}">{{ label }}</label>
          <fa-icon *ngIf="isEditar" class="editar" [icon]="faPencil" (click)="acaoBtn()"/>
        </div>
        <select id="{{ for }}"  [(ngModel)]="value" >
          <!-- <option *ngFor="let item of lista" value="{{ item }}">{{ item }}</option> -->
          <option *ngFor="let item of lista" [ngValue]="item">{{ displayItem(item) }}</option>
        </select>
    </div>
</ng-container>
