.cadastro__container {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: var(--corBranco);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
hr {
  height: 1px;
  border: 0;
  border-top: 1px solid var(--corPrincipal);
}
.menu {
  font-size: 33px;
  color: var(--corPrincipal);
}
.titulo {
  color: var(--corPrincipal);
  text-align: center;
  font-size: 30px;
  width: 100%;
}
.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
form {
  font-size: 14px;
  color: var(--corTexto);
}
label {
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.cadastro__visualizacao {
  display: flex;
  width: 64%;
  gap: 20px;
}
.formulario {
  width: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.imagem--e--botaoacao {
  width: 35%;
}
.informacoes {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form_flex {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.editar {
  color: var(--corVerde);
  margin-left: 10px;
  padding: 3px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s;
}
.editar:hover {
  background-color: var(--corVerde);
  color: var(--corBranco);
}
.bold {
  font-weight: bold;
}
.tamanho {
  min-width: 67px;
}
.info_flex {
  display: flex;
  gap: 20px;
}
.grow {
  width: 100%;
}
.select {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.select label {
  width: 100%;
}
.select select {
  width: 100%;
  padding: 6px 10px;
  border-radius: 7px;
  border: 1px solid var(--corPrincipal);
  color: var(--corTexto);
  background-color: transparent;
  font-size: var(--fontePequena);
  font-weight: bold;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.unidade {
  min-width: 60px;
}
.unidadeFlex {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  max-width: 55%;
}
.mini-botao {
  max-width: fit-content;
  max-height: fit-content;
}
.grow2 {
  flex-grow: 1;
}
.input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input input {
  width: 100%;
  /*padding-left: 10px;*/
  padding: 6px 10px;
  border-radius: 7px;
  border: 1px solid var(--corPrincipal);
  color: var(--corTexto);
  background-color: transparent;
}
.flex-input {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}


::ng-deep .snackbar-sucesso {
  --mdc-snackbar-container-color: var(--corVerde); /* backgroud */
  --mdc-snackbar-supporting-text-color: var(--corBranco); /* Cor do texto */
  --mdc-snackbar-supporting-text-font: Roboto, "Helvetica Neue", sans-serif;
  --mdc-snackbar-supporting-text-size: var(--fonteNormal);
}
::ng-deep .snackbar-sucesso button {
  --mat-mdc-snack-bar-button-color: var(--corVerde); /* backgroud */
  --mat-snack-bar-button-color: var(--corBranco); /* Cor do texto */
}
::ng-deep .snackbar-falha {
  --mdc-snackbar-container-color: var(--corVermelho); /* backgroud */
  --mdc-snackbar-supporting-text-color:var(--corBranco); /* Cor do texto */
  --mdc-snackbar-supporting-text-font: Roboto, "Helvetica Neue", sans-serif;
  --mdc-snackbar-supporting-text-size: var(--fonteNormal);
}
::ng-deep .snackbar-falha button {
  --mat-mdc-snack-bar-button-color: var(--corVermelho); /* backgroud */
  --mat-snack-bar-button-color: var(--corBranco); /* Cor do texto */
}
