<div class="fundoBranco">
  <h1>Cadastro de Produto</h1>

  <form [formGroup]="formulario" class="formulario">
    <div class="formulario__cadastro">
      <!--Codigo de Barras-->
      <div class="formulario__cadastro__codigo-de-barras">
        <label for="codigoDeBarras">Código de barras:</label>
        <br>
        <input type="text" class="input" id="codigoDeBarras" formControlName="codigoDeBarras" placeholder="Aponte para o código de barras">
      </div>
      <!--Categoria-->
      <div class="divs formulario__cadastro__categoria">
        <label for="categoria">Categoria:</label>
        <div>
          <select id="categoria" formControlName="categoria">
            <option value="Ração">Ração</option>
            <option value="Sachê">Sachê</option>
            <option value="Acessório">Acessório</option>
          </select>
          <button class="botao botao-adicionar">+</button>
          <button class="botao botao-remover">x</button>
        </div>
      </div>
      <!--Produto-->
      <div class="divs formulario__cadastro__produto">
        <label for="produto">Nome do produto:</label>
        <br>
        <input type="text" id="produto" formControlName="produto" placeholder="Digite o nome do produto">
      </div>
      <!--Imagem-->
      <div class="divs formulario__cadastro__imagem">
        <label for="imagemP">Imagens:</label>
        <button class="botao botao-adicionar separar-botao">+</button>
        <br>
        <input type="text" id="imagemP" formControlName="imagemP" placeholder="Digite a url da imagem principal">
        <button class="botao botao-remover separar-botao">x</button>
      </div>
      <!--Sabor Idade-->
      <div class="divs formulario__cadastro__sabor-idade">
        <div>
          <label for="sabor">Sabor:</label>
          <button class="botao botao-adicionar separar-botao">+</button>
          <button class="botao botao-remover separar-botao">x</button>
          <br>
          <select id="sabor" formControlName="sabor">
            <option value="Carne">Carne</option>
            <option value="Frango">Frango</option>
            <option value="Peixe">Peixe</option>
          </select>
        </div>
        <div>
          <label for="idade">Idade:</label>
          <button class="botao botao-adicionar separar-botao">+</button>
          <button class="botao botao-remover separar-botao">x</button>
          <br>
          <select id="idade" formControlName="idade">
            <option value="Adulto">Adulto</option>
            <option value="Senior">Senior</option>
            <option value="Filhote">Filhote</option>
          </select>
        </div>

      </div>

      <!--Preço Peso Desconto-->
      <div class="divs  formulario__cadastro__preco--peso--desconto">

        <div class="divs">
          <label for="preco">Preço:</label>
          <br>
          <input type="text" id="preco" formControlName="preco" placeholder="Preço">
        </div>

        <div class="divs">
          <label for="peso">Peso:</label><br>
          <input type="text" id="peso" formControlName="peso" placeholder="Peso">
          <select name="unidade" id="unidadeDedo">
            <option value="Kg">kg</option>
            <option value="g">g</option>
            <option value="l">l</option>
            <option value="ml">ml</option>
          </select>
        </div>

        <div class="divs">
          <label for="desconto">Desconto:</label>
          <br>
          <input type="text" id="desconto" formControlName="desconto" placeholder="Desconto">
        </div>

      </div>

      <!--Animal-->
      <div class="divs formulario__cadastro__animal">
        <h3>Animal:</h3>
        <div class="divs">
          <label class="teste" for="cachorro">Cachorro:</label>
          <input type="radio" id="cachorro" value="Cachorro" formControlName="animal">

          <label for="gato">Gato:</label>
          <input type="radio" id="gato" value="Gato" formControlName="animal">
        </div>

        <div class="divs">
          <label for="todos">Todos:</label>
          <input type="radio" id="todos" value="Todos" formControlName="animal">

          <label for="nenhum">Nenhum:</label>
          <input type="radio" id="nenhum" value="Nenhum" formControlName="animal">
        </div>

      </div>

      <!--Castrado-->
      <div class="divs formulario__cadastro__castrado">
        <h3>Castrado:</h3>
        <label for="castrado">Sim:</label>
        <input type="radio" id="castrado" [value]=1 formControlName="castrado">
        <label for="naoCastrado">Não:</label>
        <input type="radio" id="naoCastrado" [value]=0 formControlName="castrado">
      </div>

      <!--Porte-->
      <div class="divs formulario__cadastro__porte">
        <h3>Porte:</h3>
        <label for="grande">Grande</label>
        <input type="checkbox" id="grande" value="Grande" formControlName="porte">
        <label for="medio">Médio</label>
        <input type="checkbox" id="medio" value="Medio" formControlName="porte">
        <label for="pequeno">Pequeno</label>
        <input type="checkbox" id="pequeno" value="Pequeno" formControlName="porte">
      </div>

      <!--Informação-->
      <div class="divs formulario__cadastro__informacao">
        <label for="informacao">Informações:</label>
        <button class="botao botao-adicionar separar-botao">+</button>
        <br>
        <input type="text" id="informacao" formControlName="informacao" placeholder="Digite as informações">
        <button class="botao botao-remover separar-botao">x</button>
      </div>

      <!--Fornecedor-->
      <div class="divs formulario__cadastro__fornecedor">
        <label for="fornecedor">Fornecedor:</label>
        <br>
        <select id="fornecedor" formControlName="fornecedor">
          <option value="Admax">Admax</option>
          <option value="Donizete">Donizete</option>
          <option value="FVO">FVO</option>
        </select>
        <button class="botao botao-adicionar separar-botao">+</button>
        <button class="botao botao-remover separar-botao">x</button>
      </div>



    </div>
    <div class="divs formulario__preview">
      <div class="divs formulario__preview__FotosDescricao">
        <div class="divs formulario__preview__FotosDescricao__fotos">
          <div class="divs formulario__preview__FotosDescricao__fotos__ImagemPrincipal">
            <img src="{{ formulario.get('imagemP')?.value }}" alt="Imagem">
          </div>
          <div class="divs formulario__preview__FotosDescricao__fotos__ImagensSecundarias">
            <img src="../../../assets/img/1.png" alt="">
            <img src="../../../assets/img/2.png" alt="">
            <img src="../../../assets/img/3.png" alt="">
            <img src="../../../assets/img/1.png" alt="">
            <img src="../../../assets/img/2.png" alt="">
            <img src="../../../assets/img/3.png" alt="">
          </div>
        </div>
        <div class="divs formulario__preview__FotosDescricao__descricao">
          <h3>{{ formulario.get('produto')?.value }}</h3>
          <p>Informações:</p>
          <ul>
            <li>Hehe</li>
            <li>HoHO</li>
            <li>HuHU</li>
            <li>Haha</li>
          </ul>
          <p>Preço: {{ formulario.get('preco')?.value }}</p>
          <p>Peso: {{ formulario.get('peso')?.value }}</p>
          <p>Categoria: {{ formulario.get('categoria')?.value }}</p>
          <p>Sabor: {{ formulario.get('sabor')?.value }}</p>
          <p>Idade: {{ formulario.get('idade')?.value }}</p>
          <p>Desconto: {{ formulario.get('desconto')?.value }}</p>
          <p>Tipo de animal: {{ formulario.get('animal')?.value }}</p>
          <p>Castrado: {{ formulario.get('castrado')?.value }}</p>
          <p>Porte: {{ formulario.get('porte')?.value }}</p>
          <p>Fornecedor: {{ formulario.get('fornecedor')?.value }}</p>
          <br>
          <div class="divs formulario__preview__FotosDescricao__descricao__acoes">
            <button class="botao-adicionar">Cadastrar</button>
            <button class="botao-remover">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </form>


</div>

