<div class="container">

  <mat-card>
    <mat-card-title>Cadastro de Produto</mat-card-title>
    <mat-card-content>
      <div action="" class="contact-form" [formGroup]="formulario">

        <mat-form-field>
          <mat-label>Produto</mat-label>
          <!--<input required [(ngModel)]="cadastroProduto.produto" name="produto" matInput placeholder="Informe um nome">-->
          <input required formControlName="produto" name="produto" matInput placeholder="Informe um nome">
        </mat-form-field>
        <app-mensagem-erro *ngIf="formulario.get('produto')?.errors?.['required'] && formulario.get('produto')?.touched" mensagem="produto é obrigatório!"></app-mensagem-erro>
        <app-mensagem-erro *ngIf="formulario.get('produto')?.errors?.['minlength'] && formulario.get('produto')?.touched" mensagem="O nome do produto precisa ser maior!"></app-mensagem-erro>

        <mat-form-field>
          <mat-label>Sabor</mat-label>
          <input required formControlName="sabor" name="sabor" matInput placeholder="Informe um sabor">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Idade</mat-label>
          <input required formControlName="idade" name="idade" matInput placeholder="Informe uma idade">
        </mat-form-field>

        <!--
        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <input required [(ngModel)]="cadastroProduto.categoria" matInput name="email" type="email" placeholder="Informe um email">
        </mat-form-field>
        -->

        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <input formControlName="categoria" name="categoria" matInput placeholder="Informe uma categoria">
        </mat-form-field>
        <app-mensagem-erro *ngIf="(formulario.get('categoria')?.errors?.['required'] && formulario.get('categoria')?.touched) || formulario.get('categoria')?.dirty " mensagem="Categoria é obrigatório!"></app-mensagem-erro>

        <mat-form-field>
          <mat-label>Animal</mat-label>
          <input required formControlName="animal" name="animal" matInput placeholder="Informe um animal">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Castrado</mat-label>
          <input required formControlName="castrado" name="castrado" matInput placeholder="Informe 0 para nao castrado ou 1 para castrado">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Informação</mat-label>
          <input required formControlName="informacao" name="informacao" matInput placeholder="Informe uma informacao">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Peso</mat-label>
          <input required formControlName="peso" name="peso" matInput placeholder="Informe um peso">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Preço</mat-label>
          <input required formControlName="preco" name="preco" matInput placeholder="Informe um preco">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Desconto</mat-label>
          <input required formControlName="desconto" name="desconto" matInput placeholder="Informe um desconto">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Quantidade de Estoque</mat-label>
          <input required formControlName="estoque" name="estoque" matInput placeholder="Informe uma quantidade de estoque">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Quantidade Vendido</mat-label>
          <input required formControlName="venda" name="venda" matInput placeholder="Informe uma quanditade de vendidos">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fornecedor</mat-label>
          <input required formControlName="fornecedor" name="fornecedor" matInput placeholder="Informe um fornecedor">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Litros</mat-label>
          <input required formControlName="litros" name="litros" matInput placeholder="Informe uma quanditade de litros">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Imagem Principal</mat-label>
          <input required formControlName="imagemP" name="imagemP" matInput placeholder="Informe uma url da imagem">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Imagens</mat-label>
          <input required formControlName="imagens" name="imagens" matInput placeholder="Informe uma url da imagem">
        </mat-form-field>

        <!--
        <mat-form-field>
          <mat-label>Linha</mat-label>
          <input required [(ngModel)]="cadastroProduto.imagens" name="linha" matInput placeholder="Informe uma url da linha">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Porte</mat-label>
          <input required [(ngModel)]="cadastroProduto.imagens" name="linha" matInput placeholder="Informe uma url da linha">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Mensagem Ignora</mat-label>
          <textarea [(ngModel)]="mensagem" name="mensagem" matInput placeholder="Mensagem"></textarea>
        </mat-form-field>
        -->

        <button mat-raised-button (click)="cadastrarProduto()" color="primary">Enviar</button>

      </div>
    </mat-card-content>
  </mat-card>

</div>
