.cadastro__container {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
hr {
  height: 1px;
  border: 0;
  border-top: 1px solid var(--corPrincipal);
}
.menu {
  font-size: 33px;
  color: var(--corPrincipal);
}
.titulo {
  color: var(--corPrincipal);
  text-align: center;
  font-size: 30px;
  width: 100%;
}
.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
form {
  font-size: 14px;
  color: var(--corTexto);
}
label {
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}
.cadastro__visualizacao {
  display: flex;
  width: 64%;
  gap: 20px;
}
.formulario {
  width: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.imagem--e--botaoacao {
  width: 35%;
}
.informacoes {
  width: 100%;
}
.form_flex {
  display: flex;
  gap: 10px;
}
.editar {
  color: var(--corVerde);
  margin-left: 10px;
  padding: 3px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s;
}
.editar:hover {
  background-color: var(--corVerde);
  color: var(--corBranco);
}








.grow {
  flex-grow: 1;
}
.select {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.select label {
  width: 100%;
}
.select select {
  width: 100%;
  padding: 6px 10px;
  border-radius: 7px;
  border: 1px solid var(--corPrincipal);
  color: var(--corTexto);
  background-color: transparent;
  font-size: var(--fontePequena);
  font-weight: bold;
}






















h3 {
  margin: 0;
}

.container2 {
  display: flex;
  justify-content: center;
}

.fundoBranco {
  background-color: var(--corGradiente);
  min-height: calc(100vh - 467px);
}

.fundoBranco h1 {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

.formulario2 {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.formulario2 label, .formulario2 h3 {
  font-size: 18px;
  font-weight: bold;
}

.formulario2 p, .formulario2 li {
  font-size: 16px;
  font-weight: bold;
}

.formulario2 ul {
  list-style: none;
  margin-bottom: 20px;
}

.formulario__cadastro, .formulario__preview {
  width: 700px;
  background-color: var(--corDeFundoClara);
  padding: 20px;
  border-radius: 20px;
  border: 2px solid var(--corDeFundoEscura);
}

.formulario__cadastro__codigo-de-barras input,
.formulario__cadastro__produto input,
.formulario__cadastro__imagem input,
.formulario__cadastro__informacao input,
.inputsNovos {
  width: 550px;
  height: 25px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid var(--corDeFundoEscura);
}

.formulario__cadastro__categoria {
  display: flex;
  flex-direction: column;
}

.formulario__cadastro__categoria div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.formulario__cadastro__categoria select{
  width: 150px;
  height: 25px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 5px;
}

.botao {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
}

.botao-adicionar {
  background-color: rgb(75, 248, 75);
}

.botao-remover {
  background-color: rgb(228, 52, 52);
}

.separar-botao {
  margin-left: 15px;
}

.formulario__cadastro__sabor-idade {
  display: flex;
  gap: 50px;
}

.formulario__cadastro__sabor-idade select,
.formulario__cadastro__fornecedor select {
  width: 250px;
  height: 25px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 5px;
}

.formulario__cadastro__preco--peso--desconto {
  display: flex;
  gap: 110px;
}

.formulario__cadastro__preco--peso--desconto input {
  width: 90px;
  height: 25px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid var(--corDeFundoEscura);
}

.formulario__cadastro__preco--peso--desconto select {
  height: 25px;
  font-size: 18px;
  padding-left: 5px;
  border-radius: 5px;
}

.formulario__cadastro__animal {
  display: flex;
  flex-direction: column;
}

.formulario__cadastro__animal label {
  display: inline-block;
  width: 90px;
}
.formulario__cadastro__animal input,
.formulario__cadastro__castrado input {
  margin-right: 50px;
}

.formulario__cadastro__castrado label {
  display: inline-block;
  width: 50px;
}

.formulario__cadastro__porte input{
  margin-left: 10px;
  margin-right: 30px;
}












.formulario__preview__FotosDescricao {
  display: flex;
}

.formulario__preview__FotosDescricao__descricao {
  margin-left: 30px;
  width: 350px;
}

.formulario__preview__FotosDescricao__fotos {
  display: flex;
  flex-direction: column;
}

.formulario__preview__FotosDescricao__fotos__ImagemPrincipal {
  width: 350px;
  height: 400px;
}

.formulario__preview__FotosDescricao__fotos__ImagemPrincipal img {
  width: 100%;
  height: 100%;
}

.formulario__preview__FotosDescricao__fotos__ImagensSecundarias {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}

.formulario__preview__FotosDescricao__fotos__ImagensSecundarias img {
  width: 100px;
  height: 100px;
}

.formulario__preview__FotosDescricao__descricao__acoes {
  display: flex;
  justify-content: space-evenly;
}

.formulario__preview__FotosDescricao__descricao__acoes button{
  width: 100px;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}










.contact-form {
  display: flex;
  flex-direction: column;
}

mat-card{
  width: 400px;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

mat-card-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* The Modal (background) */
.modal {
  /*display: none;*/ /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 25%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 20px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.remover-coisas {
  display: flex;
  justify-content: space-between;
}

.formulario__cadastro__imagem__input-imagem-apagar,
.formulario__cadastro__preco--peso--desconto__desconto,
.formulario__cadastro__informacao-input-informacao-apagar {
  display: flex;
}
