<div class="detalhes-produto__container">
    <div class="flex">
      <div class="menu">
        <fa-icon [icon]="getIcone('fa-bars')"></fa-icon>
      </div>
      <h1 class="titulo">Detalhes Produto</h1>
    </div>
    <hr>
    <div class="detalhes-container">
        <div class="detalhes-produto">
            <div class="img-produto">
                <img src="{{detalhesProduto.imagemP?detalhesProduto.imagemP:'https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg'}}" alt="Imagem do produto">
            </div>
            <div class="preco-estoque-container">
                <app-caixa-detalhe icone="fa-dollar-sign" [valor]=detalhesProduto.preco titulo="Preço atual" cor="var(--corPrincipal)"></app-caixa-detalhe>
                <app-caixa-detalhe icone="fa-bag-shopping" [valor]=detalhesProduto.valorUltimaCompra titulo="Valor última compra" cor="#5986B0"></app-caixa-detalhe>
                <app-caixa-detalhe icone="fa-warehouse" [valor]=detalhesProduto.estoque titulo="Estoque" cor="#5986B0"></app-caixa-detalhe>
                <app-caixa-detalhe icone="fa-dollar-sign" [valor]=detalhesProduto.precoCompra?detalhesProduto.precoCompra:0 titulo="Valor custo" cor="transparent" borda="1"></app-caixa-detalhe>
                <app-caixa-detalhe icone="fa-dollar-sign" [valor]=detalhesProduto.valorVendaEstoque titulo="Valor venda estoque" cor="transparent" borda="1"></app-caixa-detalhe>
                <app-caixa-detalhe icone="fa-dollar-sign" [valor]=detalhesProduto.valorCustoEstoque titulo="Valor custo estoque" cor="transparent" borda="1"></app-caixa-detalhe>
            </div>
            <app-botao-pequeno cor="var(--corPrincipal)" icone="fa-pencil" texto="Editar" (click)="editarItem()"></app-botao-pequeno>
        </div>
        <hr>
        <div class="informacoes-container">
            <app-label-informacoes propriedade="Nome" valor="{{detalhesProduto.produto}}"></app-label-informacoes>
            <app-label-informacoes propriedade="Preço de custo" valor="{{detalhesProduto.precoCompra?(detalhesProduto.precoCompra | currency:'R$ ':'symbol':'1.2-2'):'-'}}"></app-label-informacoes>
            <app-label-informacoes propriedade="Tipo de animal" valor="{{detalhesProduto.animal}}"></app-label-informacoes>
            <app-label-informacoes propriedade="Código de barras" valor="{{detalhesProduto.codigoDeBarras}}"></app-label-informacoes>
            <app-label-informacoes propriedade="Preço de venda" valor="{{detalhesProduto.preco | currency:'R$ ':'symbol':'1.2-2'}}"></app-label-informacoes>
            <app-label-informacoes propriedade="Peso" valor="{{detalhesProduto.peso}}"></app-label-informacoes>
            <app-label-informacoes propriedade="Categoria" valor="{{detalhesProduto.categoria}}"></app-label-informacoes>
            <app-label-informacoes propriedade="Desconto" valor="{{detalhesProduto.desconto | currency:'R$ ':'symbol':'1.2-2'}}"></app-label-informacoes>
            <app-label-informacoes propriedade="Porte" valor="{{detalhesProduto.porte}}"></app-label-informacoes>
            <app-label-informacoes propriedade="Sabor" valor="{{detalhesProduto.sabor}}"></app-label-informacoes>
            <app-label-informacoes propriedade="Estoque" valor="{{detalhesProduto.estoque}}"></app-label-informacoes>
            <app-label-informacoes propriedade="Fornecedor" valor="{{detalhesProduto.fornecedor}}"></app-label-informacoes>
            <app-label-informacoes propriedade="Idade" valor="{{detalhesProduto.idade}}"></app-label-informacoes>
            <app-label-informacoes propriedade="Quantidade vendido" valor="{{detalhesProduto.quantidadeVendido}}"></app-label-informacoes>
            <app-label-informacoes propriedade="Castrado" valor="{{detalhesProduto.castrado ? 'Sim':'Não'}}"></app-label-informacoes>
        </div>
        <hr>
        <div class="linha-do-tempo-container">
            <h3>Linha do tempo</h3>
            <div class="botoes-container">
                <div class="data" [ngClass]="{'selected': botaoSelecionado === '7 dias'}" (click)="selecionarBotao('7 dias')">7 dias</div>
                <div class="data" [ngClass]="{'selected': botaoSelecionado === '15 dias'}" (click)="selecionarBotao('15 dias')">15 dias</div>
                <div class="data" [ngClass]="{'selected': botaoSelecionado === '30 dias'}" (click)="selecionarBotao('30 dias')">30 dias</div>
                <div class="data" [ngClass]="{'selected': botaoSelecionado === 'Todos'}" (click)="selecionarBotao('Todos')">Todos</div>
            </div>
        </div>
        <div class="card-linha-do-tempo-container">
            <div *ngIf="loadingSpinnerLinhaDoTempo" class="spinnerLinhaDoTempo">
                <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="detalhesProduto.linhaDoTempo.length <= 0">
                <span>Nenhuma venda encontrada ou produto nunca foi vendido.</span>
            </div>
            <app-linha-do-tempo *ngFor="let item of detalhesProduto.linhaDoTempo; index as i" [valor]=item.precoVenda [quantidade]=item.quantidade [data]=item.dataVenda></app-linha-do-tempo>
        </div>
        
    </div>
    <div *ngIf="loadingSpinner" class="spinner">
        <mat-spinner></mat-spinner>
    </div>
</div>