<div class="detalhes-produto__container">
    <div class="flex">
      <div class="menu">
        <fa-icon [icon]="getIcone('fa-bars')"></fa-icon>
      </div>
      <h1 class="titulo">Detalhes Produto</h1>
    </div>
    <hr>
    <div class="detalhes-container">
        <div class="detalhes-produto">
            <div class="img-produto">
                <img src="https://m.media-amazon.com/images/I/813qcJIkhpL._AC_SL1500_.jpg" alt="Imagem do produto">
            </div>
            <div class="preco-estoque-container">
                <app-caixa-detalhe></app-caixa-detalhe>
                <app-caixa-detalhe></app-caixa-detalhe>
                <app-caixa-detalhe></app-caixa-detalhe>
                <app-caixa-detalhe></app-caixa-detalhe>
                <app-caixa-detalhe></app-caixa-detalhe>
                <app-caixa-detalhe></app-caixa-detalhe>
            </div>
            <app-botao-pequeno cor="var(--corPrincipal)" icone="fa-pencil" texto="Editar"></app-botao-pequeno>
        </div>
        <hr>
    </div>
</div>