.msgcomp__container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--corBranco);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
hr {
    height: 1px;
    border: 0;
    border-top: 1px solid var(--corPrincipal);
}
.menu {
    font-size: 33px;
    color: var(--corPrincipal);
}
.titulo {
    color: var(--corPrincipal);
    text-align: center;
    font-size: 30px;
    width: 100%;
}
.flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.botoes-acoes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}
.icones {
    font-size: var(--fonteNormal);
    color: var(--corPrincipal);
    padding: 0 2px;
    transition: all 0.3s;
    cursor: pointer;
}
.icones:hover {
    color: var(--corBranco);
    background-color: var(--corPrincipal);
}
/**/
.msg-container {
    width: 369px;
    height: 115px;
}
/**/
.mensagens-container {
    min-height: 60vh;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 40px;
    width: 100%;
}
.msg-container2 {
    width: 197px;
    height: 53px;
}
/**/
.barra-azul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    

    width: 100%;
    padding: 1px 10px;
    background-color: var(--corPrincipal);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.barra-azul fa-icon {
    font-size: var(--fonteNormal);
    color: var(--corBranco);
    padding: 0 2px;
    transition: all 0.3s;
    cursor: pointer;
}
.barra-azul fa-icon:hover {
    color: var(--corPrincipal);
    background-color: var(--corBranco);
}
/**/
.barra-azul-input {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 1px 10px;
    background-color: var(--corPrincipal);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: var(--corBranco);
}
/**/
.corpo-mensagem {
    padding: 10px;
    height: 100%;
    width: 100%;
    border-left: 1px solid var(--corPrincipal);
    border-right: 1px solid var(--corPrincipal);
    border-bottom: 1px solid var(--corPrincipal);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: var(--fonteNormal);
    font-weight: bold;
    color: var(--corTexto);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/**/
.inputs {
    height: 100%;
    border: none;
    font-size: var(--fonteNormal);
    color: var(--corTexto);
}
/**/
.autor-data {
    display: flex;
    justify-content: space-between;
    font-size: var(--fonteMuitoPequena);
}
/**/
.enviar-msg-container {
    display: flex;
    gap: 10px;
}

::ng-deep .snackbar-sucesso {
    --mdc-snackbar-container-color: var(--corVerde); /* backgroud */
    --mdc-snackbar-supporting-text-color: var(--corBranco); /* Cor do texto */
    --mdc-snackbar-supporting-text-font: Roboto, "Helvetica Neue", sans-serif;
    --mdc-snackbar-supporting-text-size: var(--fonteNormal);
  }
  ::ng-deep .snackbar-sucesso button {
    --mat-mdc-snack-bar-button-color: var(--corVerde); /* backgroud */
    --mat-snack-bar-button-color: var(--corBranco); /* Cor do texto */
  }
  ::ng-deep .snackbar-falha {
    --mdc-snackbar-container-color: var(--corVermelho); /* backgroud */
    --mdc-snackbar-supporting-text-color:var(--corBranco); /* Cor do texto */
    --mdc-snackbar-supporting-text-font: Roboto, "Helvetica Neue", sans-serif;
    --mdc-snackbar-supporting-text-size: var(--fonteNormal);
  }
  ::ng-deep .snackbar-falha button {
    --mat-mdc-snack-bar-button-color: var(--corVermelho); /* backgroud */
    --mat-snack-bar-button-color: var(--corBranco); /* Cor do texto */
  }