<div class="msgcomp__container">
    <div class="flex">
      <div class="menu">
        <fa-icon [icon]="getIcone('fa-bars')"></fa-icon>
      </div>
      <h1 class="titulo">MENSAGENS</h1>
    </div>
    <hr>
    <div class="botoes-acoes">
        <fa-icon class="icones" [icon]="getIcone('fa-envelope-open')"></fa-icon>
        <fa-icon class="icones" [icon]="getIcone('fa-envelope')"></fa-icon>
    </div>
    <div class="mensagens-container">
        <div class="msg-container">
            <div class="barra-azul">
                <fa-icon [icon]="getIcone('fa-envelope-open')"></fa-icon>
                <fa-icon [icon]="getIcone('fa-trash-can')"></fa-icon>
            </div>
            <div class="corpo-mensagem">
                <div class="msg">
                    <p>Comprar 5 rações da pedigree</p>
                </div>
                <div class="autor-data">
                    <span>Sérgio</span>
                    <span>13/04/2024 17:35</span>
                </div>
            </div>
        </div>
        <div class="msg-container">
            <div class="barra-azul">
                <fa-icon [icon]="getIcone('fa-envelope-open')"></fa-icon>
                <fa-icon [icon]="getIcone('fa-trash-can')"></fa-icon>
            </div>
            <div class="corpo-mensagem">
                <div class="msg">
                    <p>Comprar 5 rações da pedigree</p>
                </div>
                <div class="autor-data">
                    <span>Sérgio</span>
                    <span>13/04/2024 17:35</span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="enviar-msg-container">
        <div class="msg-container">
            <div class="barra-azul-input">
                <fa-icon [icon]="getIcone('fa-envelope')"></fa-icon>
                <span>Mensagem</span>
            </div>
            <div class="corpo-mensagem">
                <textarea class="inputs" name="" id="" placeholder="Digite sua mensagem aqui..."></textarea>
            </div>
        </div>
        <div class="msg-container2">
            <div class="barra-azul-input">
                <fa-icon [icon]="getIcone('fa-user')"></fa-icon>
                <span>Autor</span>
            </div>
            <div class="corpo-mensagem">
                <input class="inputs" type="text" placeholder="Nome do autor...">
            </div>
        </div>
        <app-botao-pequeno cor="var(--corVerde)" texto="Enviar" icone="fa-paper-plane"></app-botao-pequeno>
    </div>
    
</div>