<div class="msgcomp__container">
    <div class="flex">
      <div class="menu">
        <fa-icon [icon]="getIcone('fa-bars')"></fa-icon>
      </div>
      <h1 class="titulo">MENSAGENS</h1>
    </div>
    <hr>
    <div class="botoes-acoes">
        <fa-icon class="icones" [icon]="getIcone('fa-envelope-open')"></fa-icon>
        <fa-icon class="icones" [icon]="getIcone('fa-envelope')"></fa-icon>
    </div>
    <div class="mensagens-container">
        <app-msg *ngFor="let msg of listaDeMensagens; index as i "
        mensagem="{{msg.mensagem}}" 
        autor="{{msg.autor}}" 
        [data]=msg.created_at 
        (marcarComoLidoOuNaoLido)="handleMarcarComoLidoOuNaoLido(i)"
        (apagar)="handleApagar(i)"></app-msg>
    </div>
    <hr>
    <form [formGroup]="formulario" class="enviar-msg-container">
        <div class="msg-container">
            <div class="barra-azul-input">
                <fa-icon [icon]="getIcone('fa-envelope')"></fa-icon>
                <span>Mensagem</span>
            </div>
            <div class="corpo-mensagem">
                <textarea class="inputs" name="" id="" placeholder="Digite sua mensagem aqui..." formControlName="mensagem"></textarea>
            </div>
        </div>
        <div class="msg-container2">
            <div class="barra-azul-input">
                <fa-icon [icon]="getIcone('fa-user')"></fa-icon>
                <span>Autor</span>
            </div>
            <div class="corpo-mensagem">
                <input class="inputs" type="text" placeholder="Nome do autor..." formControlName="autor">
            </div>
        </div>
        <app-botao-pequeno cor="var(--corVerde)" texto="Enviar" icone="fa-paper-plane" (click)="enviarMensagem()"></app-botao-pequeno>
    </form>
    <div *ngIf="loadingSpinner" class="spinner">
        <mat-spinner></mat-spinner>
      </div>
</div>