<div class="cadastro__container">
    <div class="flex">
      <div class="menu">
        <fa-icon [icon]="getIcone('fa-bars')"></fa-icon>
      </div>
      <h1 class="titulo">MENSAGENS</h1>
    </div>
    <hr>
    <div class="mensagens-container">
        <div class="msg-container">
            <div class="barra-azul">
                
            </div>
            <div class="corpo-mensagem">
                <div class="msg">
                    <p>Comprar 5 rações da pedigree</p>
                </div>
                <div class="autor-data">
                    <span>Sérgio</span>
                    <span>13/04/2024 17:35</span>
                </div>
            </div>
        </div>
    </div>
</div>