.btn {
    /*width: fit-content;*/
    /*height: 40px;*/
    padding: 7px 10px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: var(--fontePequena);
    color: var(--corBranco);
    cursor: pointer;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.25s;
  }
  .btn fa-icon {
    font-size: 19px;
  }

  .btn:hover {
    filter: brightness(120%);
  }