.grow {
    flex-grow: 1;
}
.input {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input label {
    width: 100%;
}
.input input {
    width: 100%;
    /*padding-left: 10px;*/
    padding: 6px 10px;
    border-radius: 7px;
    border: 1px solid var(--corPrincipal);
    color: var(--corTexto);
}