.info {
    border: 1px solid var(--corPrincipal);
    height: 40px;
    width: 100%; 
  }
  .info .texto{
    height: 17px;
    font-weight: normal;
    color: var(--corBranco);
    font-size: var(--fontePequena);
    background-color: var(--corPrincipal);
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
  .info .valor{
    color: var(--corTexto);
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: var(--fonteNormal);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }