<app-janela titulo="Editar Status" icone="fa-pencil" (toggleJanela)="toggleJanela()">
    <div class="container">
        <app-info titulo="Nome" valor="{{ fiado.nome }}"></app-info>
        <span>Total Dívida: {{ fiado.valorTotal | currency:'R$ ':'symbol':'1.2-2' }}</span>
        <form [formGroup]="formulario" class="inputs-container">
            <app-input class="grow wd" label="Pagamento:" type="number" placeholder="R$" for="pagamento" formControlName="pagamento"></app-input>
            <h3 class="bold tamanho">Status de pagamento</h3>
            <div class="form_flex">
                <input type="radio" id="pagou" [value]=1 formControlName="status">
                <label for="pagou">Pago</label>
                <input type="radio" id="devendo" [value]=0 formControlName="status">
                <label for="devendo">Devendo</label>
            </div>
        </form>
    </div>
    <div class="botao-container">
        <app-botao-pequeno icone="fa-circle-xmark" cor="var(--corVermelho)" texto="Cancelar" (click)="cancelar()"></app-botao-pequeno>
        <app-botao-pequeno icone="fa-circle-check" cor="var(--corVerde)" texto="Aplicar" (click)="aplicar()"></app-botao-pequeno>
    </div>
</app-janela>