.container {
    max-width: 240px;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 240px;
}
.botao-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.w {
    width: 100%;
}


.radio_container:hover {
    background-color: var(--corAzulClaro);
}

.radio_container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-size: var(--fonteNormal);
    color: var(--corTexto);
    transition: all 0.3s;
    border-radius: 7px;
    border: 1px solid var(--corTexto);
    padding: 10px 36px;
    width: 100%;
}
/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 12px;
    left: 10px;
    height: 16px;
    width: 16px;
    background-color: var(--corTexto);
    border-radius: 50%;
}
.checkmark2 {
    position: absolute;
    top: 15px;
    left: 13px;
    height: 10px;
    width: 10px;
    background-color: var(--corBranco);
    border-radius: 50%;
}
.checkmark3 {
    display: none;
    position: absolute;
    top: 17px;
    left: 15px;
    height: 6px;
    width: 6px;
    background-color: var(--corTexto);
    border-radius: 50%;
}
  /* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: var(--corTexto);
}
.container input:checked ~ .checkmark3 {
    display: block;
}

  /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  /* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

.fiado-aberto {
    background-color: var(--corAzulClaro);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    border-color: var(--corTexto);
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}
.fiado-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-color: var(--corTexto);
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
}

.clientes {
    font-size: var(--fonteNormal);
    color: var(--corTexto);
}
.mini-botao {
    max-width: fit-content;
    max-height: fit-content;
}
.label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.formCliente {
    display: flex;
    flex-direction: column;
}

.formCliente app-mini-botao {
    align-self: flex-end;
    margin: 5px 0;
}






