<div class="caixa-componente__container">
    <div class="flex">
      <div class="menu">
        <fa-icon [icon]="getIcone('fa-bars')"></fa-icon>
      </div>
      <h1 class="titulo">CAIXA</h1>
    </div>
    <hr>
    <div class="caixa-container">
        <div class="entrada-saida-container">
            <!-- <div class="entrada-saida-inputs width">
                <div class="entrada-saida">
                    <app-input label="Entrada" placeholder="R$"></app-input>
                    <app-botao-pequeno icone="fa-circle-check" cor="var(--corVerde)"></app-botao-pequeno>
                </div>
                
                <div class="entrada-saida">
                    <app-input label="Saída" placeholder="R$"></app-input>
                <app-botao-pequeno icone="fa-circle-check" cor="var(--corVerde)"></app-botao-pequeno>
                </div>
            </div>
            <app-info titulo="Caixa dinheiro atual" valor="R$ 20,20"></app-info> -->

            <div class="data">
                <div>
                  <mat-form-field>
                    <mat-label>Selecione a data</mat-label>
                    <mat-date-range-input [rangePicker]="picker" disabled>
                      <input matStartDate placeholder="Start date" [(ngModel)]="start">
                      <input matEndDate placeholder="End date" [(ngModel)]="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
                  </mat-form-field>
                </div>
                <app-botao-pequeno icone="fa-circle-check" texto="Pesquisar" cor="var(--corVerde)" (click)="pesquisar()"></app-botao-pequeno>
            </div>
        </div>
        <h1 class="titulo">Meu Caixa Dia {{ mostrarData() }}</h1>
        <div class="tabelas-container">
            <div class="tabela-container width">
                <table>
                    <tr class="cabecalho-tabela">
                      <th class="caixa__tabela">Caixa</th>
                      <th class="valor__tabela">Valor</th>
                      <th>Data</th>
                      <th>Ações</th>
                    </tr>
                    <!-- <tr class="tablerow" *ngFor="let item of listaDeItensVendidos; index as i"> -->
                    <tr class="tablerow">
                        <td>Abertura de Caixa</td>
                        <td *ngIf="!modoEdicaoAbertura">R$ 00,00</td>
                        <td *ngIf="modoEdicaoAbertura"><input type="number"></td>
                        <td>13/07/20024 20:35</td>
                        <td><fa-icon class="editar" [icon]="getIcone('fa-pencil')" (click)="toggleEdicaoAbertura()"></fa-icon></td>
                    </tr>
                    <tr class="tablerow">
                        <td>Recebimento em dinheiro</td>
                        <td>R$ 00,00</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr class="tablerow">
                        <td>Troco</td>
                        <td>R$ 00,00</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr class="tablerow">
                        <td>Despesas do caixa</td>
                        <td *ngIf="!modoEdicaoDespesas">R$ 00,00</td>
                        <td *ngIf="modoEdicaoDespesas"><input type="number"></td>
                        <td>-</td>
                        <td><fa-icon class="editar" [icon]="getIcone('fa-pencil')" (click)="toggleEdicaoDespesas()"></fa-icon></td>
                    </tr>
                    <tr class="tablerow">
                        <td>Fechamento de caixa</td>
                        <td>R$ 00,00</td>
                        <td>13/07/20024 22:35</td>
                        <td>-</td>
                    </tr>
                </table>
            </div>
            <div class="tabela-container  width">
                <table>
                    <tr class="cabecalho-tabela">
                      <th class="nome__tabela">Forma de pagamento</th>
                      <th>Líquido</th>
                      <th>Conferido</th>
                      <th>Diferença</th>
                    </tr>
                    <tr class="tablerow">
                        <!-- <td><fa-icon class="editar" [icon]="getIcone('fa-pencil')"></fa-icon> Cartão de crédito</td> -->
                        <td><img src="../../../../assets/img/cartao_credito.png" alt="">Cartão de crédito</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                    </tr>
                    <tr class="tablerow">
                        <td><img src="../../../../assets/img/cartao_debito.png" alt="">Cartão de débito</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                    </tr>
                    <tr class="tablerow">
                        <td><img src="../../../../assets/img/dinheiro.png" alt="">Dinheiro</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                    </tr>
                    <tr class="tablerow">
                        <td><img src="../../../../assets/img/pix.png" alt="">Pix</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                    </tr>
                    <tr class="tablerow">
                        <td><img src="../../../../assets/img/fiado.png" alt="">Fiado</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                    </tr>
                    <tr class="tablerow">
                        <td><fa-icon [icon]="getIcone('fa-arrow-right')"></fa-icon>Entrada</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                    </tr>
                    <tr class="tablerow">
                        <td><fa-icon [icon]="getIcone('fa-arrow-left')"></fa-icon>Saída</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                    </tr>
                </table>
            </div>
        </div>
        <app-botao-pequeno *ngIf="caixaAberto" class="btn" texto="Fechar caixa" icone="fa-floppy-disk" cor="var(--corVerde)"></app-botao-pequeno>
        <app-botao-pequeno *ngIf="!caixaAberto" class="btn" texto="Abrir caixa" icone="fa-floppy-disk" cor="var(--corVerde)"></app-botao-pequeno>
    </div>
    <div *ngIf="loadingSpinner" class="spinner">
        <mat-spinner></mat-spinner>
      </div>
</div>