<div class="caixa-componente__container">
    <div class="flex">
      <div class="menu">
        <fa-icon [icon]="getIcone('fa-bars')"></fa-icon>
      </div>
      <h1 class="titulo">CAIXA</h1>
    </div>
    <hr>
    <div class="caixa-container">
        <div class="entrada-saida-container">
            <!-- <div class="entrada-saida-inputs width">
                <div class="entrada-saida">
                    <app-input label="Entrada" placeholder="R$"></app-input>
                    <app-botao-pequeno icone="fa-circle-check" cor="var(--corVerde)"></app-botao-pequeno>
                </div>
                
                <div class="entrada-saida">
                    <app-input label="Saída" placeholder="R$"></app-input>
                <app-botao-pequeno icone="fa-circle-check" cor="var(--corVerde)"></app-botao-pequeno>
                </div>
            </div>
            <app-info titulo="Caixa dinheiro atual" valor="R$ 20,20"></app-info> -->

            <div class="data">
                <div>
                    <mat-form-field>
                        <mat-label>Selecione a data</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="start" (dateChange)="dateChangeEvent('change', $event)" disabled>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker disabled="false"></mat-datepicker>
                    </mat-form-field>
                </div>
                <app-botao-pequeno icone="fa-circle-check" texto="Pesquisar" cor="var(--corVerde)" (click)="exibirCaixa()"></app-botao-pequeno>
            </div>
        </div>
        <h1 class="titulo">Meu Caixa Dia {{ mostrarData() }} - <span [ngClass]="caixaAberto == 'aberto' ?'aberto':'fechado'">{{ caixaAberto.toUpperCase() }}</span></h1>
        <div class="tabelas-container">
            <div class="tabela-container width">
                <table>
                    <tr class="cabecalho-tabela">
                      <th class="caixa__tabela">Caixa</th>
                      <th class="valor__tabela">Valor</th>
                      <th>Data</th>
                      <th>Ações</th>
                    </tr>
                    <tr class="tablerow">
                        <td>Abertura de Caixa</td>
                        <td *ngIf="!modoEdicaoAbertura">{{ abrirCaixaInput | currency:'R$ ':'symbol':'1.2-2' }}</td>
                        <td *ngIf="modoEdicaoAbertura"><input type="number" [(ngModel)]="abrirCaixaInput"></td>
                        <td>{{  caixa.abertura_data | date:'dd/MM/YYYY HH:mm' }}</td>
                        <td><fa-icon class="editar" [icon]="getIcone('fa-pencil')" (click)="toggleEdicaoAbertura()"></fa-icon></td>
                    </tr>
                    <tr class="tablerow">
                        <td>Recebimento em dinheiro</td>
                        <td>R$ 00,00</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <!-- <tr class="tablerow">
                        <td>Troco</td>
                        <td>R$ 00,00</td>
                        <td>-</td>
                        <td>-</td>
                    </tr> -->
                    <tr class="tablerow">
                        <td>Despesas do caixa</td>
                        <td *ngIf="!modoEdicaoDespesas">{{ despesasInput | currency:'R$ ':'symbol':'1.2-2' }}</td>
                        <td *ngIf="modoEdicaoDespesas"><input type="number" [(ngModel)]="despesasInput"></td>
                        <td>-</td>
                        <td><fa-icon class="editar" [icon]="getIcone('fa-pencil')" (click)="toggleEdicaoDespesas()"></fa-icon></td>
                    </tr>
                    <tr class="tablerow">
                        <td>Fechamento de caixa esperado</td>
                        <td>{{ caixa.abertura_valor - despesasInput + caixa.entrada + caixaCompleto.totalDinheiro | currency:'R$ ':'symbol':'1.2-2'}}</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr class="tablerow">
                        <td>Fechamento de caixa</td>
                        <td *ngIf="!modoEdicaoFechamento">{{ fechamentoInput | currency:'R$ ':'symbol':'1.2-2' }}</td>
                        <td *ngIf="modoEdicaoFechamento"><input type="number" [(ngModel)]="fechamentoInput"></td>
                        <td>{{  caixa.fechamento_caixa_data | date:'dd/MM/YYYY HH:mm' }}</td>
                        <td><fa-icon class="editar" [icon]="getIcone('fa-pencil')" (click)="toggleEdicaoFechamento()"></fa-icon></td>
                    </tr>
                </table>
            </div>
            <div class="tabela-container  width">
                <table>
                    <tr class="cabecalho-tabela">
                      <th>Forma de pagamento</th>
                      <th class="valor__tabela">Líquido</th>
                      <th class="valor__tabela">Conferido</th>
                      <th>Diferença</th>
                      <th>Ações</th>
                    </tr>
                    <tr class="tablerow">
                        <!-- <td><fa-icon class="editar" [icon]="getIcone('fa-pencil')"></fa-icon> Cartão de crédito</td> -->
                        <td><img src="assets/img/cartao_credito.png" alt="">Cartão de crédito</td>
                        <td>{{ caixaCompleto.totalCredito | currency: 'R$ ':'symbol':'1.2-2'  }}</td>
                        <td *ngIf="!modoEdicaoCredito">{{ creditoInput | currency: 'R$ ':'symbol':'1.2-2' }}</td>
                        <td *ngIf="modoEdicaoCredito"><input type="number" [(ngModel)]="creditoInput"  (change)="changeCredito()"></td>
                        <td>{{ (creditoInput - caixaCompleto.totalCredito) | currency: 'R$ ':'symbol':'1.2-2'  }}</td>
                        <td><fa-icon class="editar" [icon]="getIcone('fa-pencil')" (click)="toggleEdicaoCredito()"></fa-icon></td>
                    </tr>
                    <tr class="tablerow">
                        <td><img src="assets/img/cartao_debito.png" alt="">Cartão de débito</td>
                        <td>{{ caixaCompleto.totalDebito | currency: 'R$ ':'symbol':'1.2-2'  }}</td>
                        <td *ngIf="!modoEdicaoDebito">{{ debitoInput | currency: 'R$ ':'symbol':'1.2-2' }}</td>
                        <td *ngIf="modoEdicaoDebito"><input type="number" [(ngModel)]="debitoInput" (change)="changeDebito()"></td>
                        <td>{{ (debitoInput - caixaCompleto.totalDebito) | currency: 'R$ ':'symbol':'1.2-2'  }}</td>
                        <td><fa-icon class="editar" [icon]="getIcone('fa-pencil')" (click)="toggleEdicaoDebito()"></fa-icon></td>
                    </tr>
                    <tr class="tablerow">
                        <td><img src="assets/img/dinheiro.png" alt="">Dinheiro</td>
                        <td>{{ caixaCompleto.totalDinheiro | currency: 'R$ ':'symbol':'1.2-2'  }}</td>
                        <td *ngIf="!modoEdicaoDinheiro">{{ dinheiroInput | currency: 'R$ ':'symbol':'1.2-2' }}</td>
                        <td *ngIf="modoEdicaoDinheiro"><input type="number" [(ngModel)]="dinheiroInput" (change)="changeDinheiro()"></td>
                        <td>{{ (dinheiroInput - caixaCompleto.totalDinheiro) | currency: 'R$ ':'symbol':'1.2-2'  }}</td>
                        <td><fa-icon class="editar" [icon]="getIcone('fa-pencil')" (click)="toggleEdicaoDinheiro()"></fa-icon></td>
                    </tr>
                    <tr class="tablerow">
                        <td><img src="assets/img/pix.png" alt="">Pix</td>
                        <td>{{ caixaCompleto.totalPix | currency: 'R$ ':'symbol':'1.2-2'  }}</td>
                        <td *ngIf="!modoEdicaoPix">{{ pixInput | currency: 'R$ ':'symbol':'1.2-2' }}</td>
                        <td *ngIf="modoEdicaoPix"><input type="number" [(ngModel)]="pixInput" (change)="changePix()"></td>
                        <td>{{ (pixInput - caixaCompleto.totalPix) | currency: 'R$ ':'symbol':'1.2-2'  }}</td>
                        <td><fa-icon class="editar" [icon]="getIcone('fa-pencil')" (click)="toggleEdicaoPix()"></fa-icon></td>
                    </tr>
                    <tr class="tablerow">
                        <td><img src="assets/img/fiado.png" alt="">Fiado</td>
                        <td>{{ caixaCompleto.totalFiado | currency: 'R$ ':'symbol':'1.2-2'  }}</td>
                        <td *ngIf="!modoEdicaoFiado">{{ fiadoInput | currency: 'R$ ':'symbol':'1.2-2' }}</td>
                        <td *ngIf="modoEdicaoFiado"><input type="number" [(ngModel)]="fiadoInput" (change)="changeFiado()"></td>
                        <td>{{ (fiadoInput - caixaCompleto.totalFiado) | currency: 'R$ ':'symbol':'1.2-2'  }}</td>
                        <td><fa-icon class="editar" [icon]="getIcone('fa-pencil')" (click)="toggleEdicaoFiado()"></fa-icon></td>
                    </tr>
                    <!-- <tr class="tablerow">
                        <td><fa-icon [icon]="getIcone('fa-arrow-right')"></fa-icon>Entrada</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                    </tr>
                    <tr class="tablerow">
                        <td><fa-icon [icon]="getIcone('fa-arrow-left')"></fa-icon>Saída</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                        <td>R$ 150,00</td>
                    </tr> -->
                </table>
            </div>
        </div>
        <app-botao-pequeno *ngIf="caixaAberto === 'aberto'" class="btn" texto="Fechar caixa" icone="fa-floppy-disk" cor="var(--corVerde)" (click)="fecharCaixa()"></app-botao-pequeno>
        <app-botao-pequeno *ngIf="caixaAberto === 'disponível' || caixaAberto === 'fechado'" class="btn" texto="Abrir caixa" icone="fa-floppy-disk" cor="var(--corVerde)" (click)="abrirCaixa()"></app-botao-pequeno>

    </div>
    <div *ngIf="loadingSpinner" class="spinner">
        <mat-spinner></mat-spinner>
    </div>
</div>

<app-login></app-login>