<div class="fiado__container">
  <div class="flex">
    <div class="menu">
      <fa-icon [icon]="getIcone('fa-bars')"></fa-icon>
    </div>
    <h1 class="titulo">Lista de Fiados</h1>
  </div>
  <hr>

  <div class="table__container">
    <table>
      <tr class="cabecalho-tabela">
        <th class="nome__tabela">Nome</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Data da Compra</th>
        <th>Pagamento</th>
        <th>Total Dívida</th>
        <th>Status</th>
        <th>Ações</th>
        <th>Modificado</th>
      </tr>
      
      <ng-container *ngFor="let fiado of listaDeFiado; let i = index">
        <tr [ngClass]="getStatus(fiado.pagou)" class="tablerow" (click)="toggleLinhaExpandida(i)">
          <td>{{ fiado.nome }}</td>
          <td>{{ fiado.telefone }}</td>
          <td>{{ fiado.endereco }}</td>
          <td>{{ fiado.data | date:'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ fiado.pagamento ? (fiado.pagamento | currency:'R$ ':'symbol':'1.2-2') : "-" }}</td>
          <td>{{ fiado.valorTotal | currency:'R$ ':'symbol':'1.2-2' }}</td>
          <td>{{ pagou(fiado.pagou) }}</td>
          <td>
            <fa-icon class="editar" [icon]="getIcone('fa-pencil')" (click)="editarItem(fiado, i)"></fa-icon>
            <!-- <fa-icon class="apagar" [icon]="getIcone('fa-trash-can')" (click)="editarItem(fiado, i)"></fa-icon> -->
          </td>
          <td>{{ fiado.modified_at ? (fiado.modified_at | date:'dd/MM/yyyy HH:mm') : "-"}}</td>
        </tr>
        <tr *ngIf="linhaExpandida === i">
          <td colspan="9">
            <table>
              <tr class="tr-sem-borda">
                <th>Foto</th><th>Produto</th><th>Qtd</th><th>Preço Un.</th><th>Total</th>
              </tr>
              <tr class="tr-sem-borda" *ngFor="let itens of listaDeFiado[i].itens">
                <td><img class="table__img" src="{{ itens.imagemP }}" alt=""></td>
                <td>{{ itens.produto }}<span *ngIf="verificarSeFoiFracionado(itens.peso)"> ({{ itens.peso }})</span></td>
                <td>{{ itens.quantidade }}</td>
                <td>{{ itens.precoUnitario | currency:'R$ ':'symbol':'1.2-2' }}</td>
                <td>{{ itens.precoTotal | currency:'R$ ':'symbol':'1.2-2'  }}</td>
              </tr>
            </table>
            
          </td>
        </tr>
      </ng-container>
    </table>
    
  </div>

  <app-editar-status *ngIf="janelaEditar" [fiado]="fiado" [index]="index" (visivel)="toggleEditarStatus()" (atualizarLista)="atualizarListaFiado($event)" (spinnerEmitter)="toggleSpinner($event)"></app-editar-status>
  <!-- <app-apagar-fiado></app-apagar-fiado> -->

  <div *ngIf="loadingSpinner" class="spinner">
    <mat-spinner></mat-spinner>
  </div>

</div>


