.fiado__container {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: var(--corBranco);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
hr {
  height: 1px;
  border: 0;
  border-top: 1px solid var(--corPrincipal);
}
.menu {
  font-size: 33px;
  color: var(--corPrincipal);
}
.titulo {
  color: var(--corPrincipal);
  text-align: center;
  font-size: 30px;
  width: 100%;
}
.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}



















































