.janela {
    color: var(--corBranco);
    background-color: var(--corBranco);
    font-size: var(--fonteNormal);
    /* width: 50%; */
    max-width: 500px; /* Ajuste conforme necessário */
    width: 100%; /* Para garantir que o modal não ultrapasse a largura máxima */
    border: 1px solid var(--corPrincipal);
    width: fit-content;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10px;
    background-color: var(--corPrincipal);
}
.titulo {
    display: flex;
    gap: 10px;
}
.fechar {
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0 3px;
    border-radius: 3px;
}
.fechar:hover {
    background-color: var(--corBranco);
    color: var(--corPrincipal);
}
.body {
    padding: 10px;
    height: fit-content;
    width: fit-content;
    color: var(--corTexto);
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    /*padding-top: 9%;
    padding-left: 48%;*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }



