.cadastro__container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--corBranco);
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid black; */
}
hr {
    height: 1px;
    border: 0;
    border-top: 1px solid var(--corPrincipal);
}
.menu {
    font-size: 33px;
    color: var(--corPrincipal);
}
.titulo {
    color: var(--corPrincipal);
    text-align: center;
    font-size: 30px;
    width: 100%;
}
.flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.container-agendamento {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    /* border: 2px solid red; */
    width: 100%;
}



full-calendar #lol {
  color: #000000;
}

.calendario {
  /* width: 800px; */
}

.card-evento {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0; */

  /* background-color: hsl(98.95deg, 26.51%, 57.84%); */
  color: var(--corBranco);
  font-size: 12px;
  /* font-weight: bold; */
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;

  width: 100%;
  /* height: 100%;           👈 faz ocupar toda a altura do evento */
  z-index: 1000;              /* 👈 garante que fique sobreposto */
  min-height: 100%;           /* 👈 garante que cubra o slot */
  box-sizing: border-box; /* 👈 garante que padding não ultrapasse o espaço */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 14px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
}

.card-banho {
  display: flex;
  justify-content: space-between;
  width: 300px;
  border: 1px solid red;
}
.foto img{
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
.acoes-conteiner {
  display: flex;
  justify-content: space-between;
}
.acoes {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.acoes ng-select {
  width: 35%;
}
app-botao-pequeno {
  white-space: nowrap;
}

.criar-tutor-animal-flex {
  display: flex;
  gap: 10px;
}

.card-status-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 320px;
  border-radius: 10px;
  height: fit-content;
  user-select: none;
}
.corCinza {
  background-color: hsl(210deg 11.11% 50.59%);
}
.corLaranja {
  background-color: hsl(29.4deg 81.97% 52.16%);
}
.corRoxo {
  background-color: hsl(273.05deg 56.73% 40.78%);
}
.corVerde {
  background-color: hsl(117deg 58.82% 20%);
}

.card-status-container h2 {
  color: var(--corBranco);
  margin: 0;
  font-size: 16px;
}

.card-status-list {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  gap: 5px;
}


/* .card-info {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  padding: 2px 10px 10px 5px;
  background-color: #fff;
  font-size: 12px;
  width: 300px;
}

.card-info-servicos .horario {
  padding: 0px 2px;
  background-color: hsl(240deg 4.03% 51.37%);
  color: var(--corBranco);
  width: fit-content;
  border-radius: 5px;
  font-weight: 400;
}

.card-info p {
  margin: 0;
}

.card-info hr {
  margin: 0;
}

.card-info small {
  font-size: 10px;
}

.obs {
  font-size: 10px;
  color: var(--corVermelho);
}

.card-info-foto img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card-info-servicos p {
 margin-bottom: 0px;
 font-weight: bold;
}

.card-info-flex {
  display: flex;
  justify-content: space-between;
} */









.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

