
header{
 /*background-color: #fad59e;*/
 background-color: var(--corDeFundoClara);
  border-bottom: 1px solid #000;
}
.menu-pesquisa{
  display: flex;
  justify-content: center;
  align-items: center;
}
.barra-de-pesquisa{
  margin-right: 10px;
  border-radius: 7px;
  border: 0 none;
  color: black;
  height: 40px;
  font-size: 20px;
}
.login{
  background-color: #ffecb3;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.login2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login p {
  padding: 0 5px;
  text-decoration: none;
  font-weight: bold;
}
.login:hover{
  background-color: #fff;
}
.menu-pesquisa a {
  padding: 30px 10px 10px 10px;
}
.menu li{
font-size: 20px;
padding: 5px 15px;
list-style-type: none;
border-radius: 10px 10px 0 0;
position: relative;

}
.menu li img{
  height: 20px;
}


.menu li:hover {
  background-color: #fff;
}
.menu li:hover .submenu{
  display: block;
  position: absolute;
  left: 0;
  padding: 5px 0;
}

.logo{
  height: 90px;
}
.logo-2{
  height: 70px;
}
.nav{

  display: flex;
  justify-content: space-evenly;
}
.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.submenu{
  display: none;
  position: relative;
  z-index: 2;
}

.submenu li{
  background-color: #fff;
  border-radius: 0 0 0 0;
  min-width: 200px;
}
.submenu li a{
  display: block;
}
.submenu li:hover{
  background-color: #ddd;
}
.submenu2{
  display: none;
  z-index: 2;
}
.submenu li:hover .submenu2{
  display: block;
  position: absolute;
  left: 100%;
  top: 0px;
}
