<header>
  <div class="menu-pesquisa">
      <a href="#">
          <img class="logo" src="../../../assets/img/nina1.png" alt="">
          <img class="logo-2" src="../../../assets/img/nina2.png" alt="">
      </a>
      <input type="search" autofocus class="barra-de-pesquisa" size="70" style="padding: 20px" [(ngModel)]="input" placeholder="Pesquisar em Clinina" (keyup)="onEnter()">

      <div class="login">
          <img src="../../../assets/img/conecte-se.png" alt="">
          <div class="login2">
              <p>Entrar</p>
              <p>Cadastrar</p>
          </div>
      </div>
      <a href="#"><img src="../../../assets/img/coracao.png" alt=""></a>
      <a href="#"><img src="../../../assets/img/carrinho-de-compras.png" alt=""></a>
  </div>

  <nav class="nav">
      <ul class="menu">
          <li>
              <img src="../../../assets/img/pata.svg" alt="">

              <a href="">Cachorros</a>
              <ul class="submenu">
                  <li>
                      <a href="#">Ração</a>
                      <ul class="submenu2">
                          <li><a href="#">Sub item 1</a></li>
                          <li><a href="#">Sub item 2</a></li>
                          <li><a href="#">Sub item 3</a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="#">Item 2</a>
                      <ul class="submenu2">
                          <li><a href="#">Sub item 1</a></li>
                          <li><a href="#">Sub item 2</a></li>
                          <li><a href="#">Sub item 3</a></li>
                      </ul>
                  </li>
                  <li><a href="#">Item 3</a></li>
              </ul>
          </li>
          <li>
              <img src="../../../assets/img/pata.svg" alt="">
              <a href="">Gatos</a>
              <ul class="submenu">
                  <li><a href="#">Item 1</a></li>
                  <li><a href="#">Item 2</a></li>
                  <li><a href="#">Item 3</a></li>
              </ul>
          </li>
      </ul>
      <ul class="menu">
          <li>
              <img src="../../../assets/img/estetoscopio.svg" alt="">
              <a href="">Serviços</a>
              <ul class="submenu">
                  <li><a href="#">Item 1</a></li>
                  <li><a href="#">Item 2</a></li>
                  <li><a href="#">Item 3</a></li>
              </ul>
          </li>
          <li>
              <img src="../../../assets/img/bolsapromocao.svg" alt="">
              <a href="">Promoções</a>
              <ul class="submenu">
                  <li><a href="#">Item 1</a></li>
                  <li><a href="#">Item 2</a></li>
                  <li><a href="#">Item 3</a></li>
              </ul>
          </li>
      </ul>
  </nav>

</header>

<div *ngIf="produto.produto">
  <h1>Produto: {{ produto.produto }}</h1>
  <h2>Preço: {{ produto.preco }} </h2>
  <img src="{{produto.imagemP}}" alt="">
</div>
