<div class="caixa-componente__container">
    <div class="flex">
      <div class="menu">
        <fa-icon [icon]="getIcone('fa-bars')"></fa-icon>
      </div>
      <h1 class="titulo">CADASTRO PET</h1>
    </div>
    <hr>
    <div >
        <form [formGroup]="formulario" class="cadastro-container">
            <div class="dados-flex">
                <div class="dados-flex-filho flex-dados-telefone">
                    <div class="dados-telefone">
                        <span>
                            <fa-icon [icon]="getIcone('fa-user')"></fa-icon>
                            Dados Pessoais
                        </span>
                        <app-input type="text" for="nomeTutor" label="Nome:" placeholder="Nome do tutor(a)" [negrito]="true" formControlName="telefone"></app-input>
                        <app-input type="text" for="cpf" label="CPF/CNPJ:" placeholder="CPF ou CNPJ" [negrito]="true" formControlName="telefone"></app-input>
                        <app-input type="text" for="email" label="Email:" placeholder="E-mail" [negrito]="true" formControlName="telefone"></app-input>
                    </div>
                    
                    <div class="dados-telefone">
                        <span>
                            <fa-icon [icon]="getIcone('fa-phone')"></fa-icon>
                            Telefone
                        </span>
                        <app-input type="text" for="telefone" label="Telefone:" placeholder="(xx) xxxxx-xxxx" [negrito]="true" formControlName="telefone"></app-input>
                        <app-input type="text" for="celular" label="Celular:" placeholder="(xx) xxxxx-xxxx" [negrito]="true" formControlName="telefone"></app-input>
                    </div>
                </div>
                <div class="dados-flex-filho flex-endereco">
                    <span>
                        <fa-icon [icon]="getIcone('fa-house')"></fa-icon>
                        Endereço
                    </span>
                    <div class="dados-flex">
                        <app-input class="dados-flex-filho" type="text" for="cep" label="CEP:" placeholder="00000-000" [negrito]="true" formControlName="telefone"></app-input>
                        <app-select2 class="dados-flex-filho" [lista]="listaDeEstados" for="uf" label="UF:" [negrito]="true" formControlName="telefone"></app-select2>
                    </div>
                    <app-input type="text" for="cidade" label="Cidade:" placeholder="Cidade" [negrito]="true" formControlName="telefone"></app-input>
                    <app-input type="text" for="bairro" label="Bairro:" placeholder="Bairro" [negrito]="true" formControlName="telefone"></app-input>
                    <app-input type="text" for="endereco" label="Endereço:" placeholder="Rua/Av" [negrito]="true" formControlName="telefone"></app-input>
                    <div class="dados-flex">
                        <app-input class="dados-flex-filho" type="text" for="número" label="Nº:" placeholder="Número" [negrito]="true" formControlName="telefone"></app-input>
                        <app-input class="dados-flex-filho" type="text" for="complemento" label="Complemento:" placeholder="Complemento" [negrito]="true" formControlName="telefone"></app-input>
                    </div>
                </div>
            </div>

            <div class="cadastro-rapido-pet-container">
                <span>
                    <fa-icon [icon]="getIcone('fa-paw')"></fa-icon>
                    Cadastro rápido do pet
                </span>
                <div class="dados-flex">
                    <app-input class="dados-flex-filho" type="text" for="nomePet" label="Nome do pet:" placeholder="Nome do pet" [negrito]="true" formControlName="telefone"></app-input>
                    <app-select2 class="dados-flex-filho" [lista]="listaDeRacas" for="raca" label="Raça:" [negrito]="true" propriedade="name" formControlName="telefone"></app-select2>
                </div>
                <!-- <app-input type="text" for="tipoCliente" label="Tipo de cliente SELECT:" placeholder="Nome do pet" [negrito]="true" formControlName="telefone"></app-input> -->
                
            </div>

            <div class="obs-flex">
                <span>
                    <fa-icon [icon]="getIcone('fa-message')"></fa-icon>
                    Observação:
                </span>
                <textarea formControlName="telefone"></textarea>
            </div>

            <div class="btn-flex">
                <app-botao-pequeno cor="var(--corVermelho)" icone="fa-circle-xmark" texto="Cancelar" (click)="cancelar()"></app-botao-pequeno>
                <app-botao-pequeno cor="var(--corVerde)" icone="fa-floppy-disk" texto="Cadastrar" (click)="cadastrar()"></app-botao-pequeno>
            </div>
            
        </form>

    </div>
</div>
