/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*background-color: #fad59e;*/
}
:root{
  --corDeFundoClara: #fad59e;
  --corDeFundoEscura: #7a4f25;
  --corGradiente: #f69d3c;
  --corGradienteEscura: rgba(122,79,37,0.6);
  --cor-de-fundo-da-pagina: rgb(92,131,174);
  --corPrincipal: #23BEB6;
  --corTexto: #6F5E5C;
  --corVermelho: #B95D5D;
  --corVerde: #5BB059;
  --corBranco: #fff;
  --corAzulClaro: #99E1D9;
  --corHighlight: #67E1DB;
  --fontePequena: 13px;
  --fonteMuitoPequena: 10px;
  --fonteNormal: 14px;
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  /*background-color: var(--corDeFundoEscura);*/
  background-color: white;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.divs{
  border: 1px solid greenyellow;
}
