.banho__container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--corBranco);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }
  hr {
    height: 1px;
    border: 0;
    border-top: 1px solid var(--corPrincipal);
  }
  .menu {
    font-size: 33px;
    color: var(--corPrincipal);
  }
  .titulo {
    color: var(--corPrincipal);
    text-align: center;
    font-size: 30px;
    width: 100%;
  }
  .flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  .btn-end {
    display: flex;
    justify-content: flex-end;
  }
  .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  
  
  /*CSS da table*/
  .table__container {
    border: 1px solid var(--corPrincipal);
    height: auto;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  .cabecalho-tabela {
    background-color: var(--corPrincipal);
    color: var(--corBranco);
    font-size: var(--fontePequena);
    height: 17px;
  }
  
  th, td, tr {
    text-align: start;
    border: none;
    border-collapse: collapse;
    padding-left: 10px;
  }
  tr {
    border-bottom: 1px solid var(--corAzulClaro);
    height: fit-content;
    font-size: var(--fonteNormal);
    color: var(--corTexto);
    cursor: pointer;
  }
  .tablerow:hover {
    background-color: rgba(185, 185, 185, 0.274);
  }
  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .table__img {
    width: 25px;
    height: 25px;
  }
  .nome__tabela {
    width: 20%;
  }
  tr fa-icon {
    font-size: 14px;
  }
  .apagar {
    color: var(--corVermelho);
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 3px;
    transition: all 0.3s;
  }
  .editar {
    color: var(--corVerde);
    margin-right: 10px;
    padding: 3px;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s;
  }
  .editar:hover {
    background-color: var(--corVerde);
    color: var(--corBranco);
  }
  .apagar:hover {
    background-color: var(--corVermelho);
    color: var(--corBranco);
  }
  .pago {
    background-color: #CBFFCA;
  }
  .devendo {
    background-color: #FFC9C9;
  }
  
  
  .tr-sem-borda {
    border: none;
    cursor: default;
  }
  
  ::ng-deep .snackbar-sucesso {
    --mdc-snackbar-container-color: var(--corVerde); /* backgroud */
    --mdc-snackbar-supporting-text-color: var(--corBranco); /* Cor do texto */
    --mdc-snackbar-supporting-text-font: Roboto, "Helvetica Neue", sans-serif;
    --mdc-snackbar-supporting-text-size: var(--fonteNormal);
  }
  ::ng-deep .snackbar-sucesso button {
    --mat-mdc-snack-bar-button-color: var(--corVerde); /* backgroud */
    --mat-snack-bar-button-color: var(--corBranco); /* Cor do texto */
  }
  ::ng-deep .snackbar-falha {
    --mdc-snackbar-container-color: var(--corVermelho); /* backgroud */
    --mdc-snackbar-supporting-text-color:var(--corBranco); /* Cor do texto */
    --mdc-snackbar-supporting-text-font: Roboto, "Helvetica Neue", sans-serif;
    --mdc-snackbar-supporting-text-size: var(--fonteNormal);
  }
  ::ng-deep .snackbar-falha button {
    --mat-mdc-snack-bar-button-color: var(--corVermelho); /* backgroud */
    --mat-snack-bar-button-color: var(--corBranco); /* Cor do texto */
  }
  